In [1]:
"""
Yianna Bekris
RCES 
2/15/2024 
"""

'\nYianna Bekris\nRCES \n2/15/2024 \n'

In [16]:
planets = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"]
planet_mass = [0.330, 4.87, 5.97, 0.073, 0.642, 1898, 568, 86.8, 102]

In [8]:
number_of_planets = len(planets)
print(f"There are {number_of_planets} planets in the Solar System")

There are 8 planets in the Solar System

In [11]:
first_4 = planets[0:4]

In [12]:
print(first_4)

['Mercury', 'Venus', 'Earth', 'Mars']

In [14]:
for planet in planets:
    if planet[-1] != 's':
        print(planet)

Mercury
Earth
Jupiter
Saturn
Neptune

In [15]:
### Dictionaries

In [22]:
planet_mass = [0.330, 4.87, 5.97, 0.073, 0.642, 1898, 568, 86.8, 102]
planets_dict = {"Planet Name" : planets,
                "Planet Mass (kg * 10**24" : planet_mass
               }

ind_planets = {"Mercury" : 0.330, "Venus" : 4.87, "Earth" : 5.97,
               "Mars" : 0.073, "Jupiter" : 1898, "Saturn" : 568,
               "Uranus" : 86.8, "Neptune" : 102
    
}

In [27]:
for i, planet in enumerate(ind_planets.items()):
    if i == 2:
        print(planet)

('Earth', 5.97)

In [28]:
for i, planet in enumerate(ind_planets.items()):
    if planet[1] < 100:
        print(planet)

('Mercury', 0.33)
('Venus', 4.87)
('Earth', 5.97)
('Mars', 0.073)
('Uranus', 86.8)

In [30]:
pluto_dict = {"Pluto" : 0.0130}
ind_planets.update(pluto_dict)

In [31]:
ind_planets

{'Mercury': 0.33,
 'Venus': 4.87,
 'Earth': 5.97,
 'Mars': 0.073,
 'Jupiter': 1898,
 'Saturn': 568,
 'Uranus': 86.8,
 'Neptune': 102,
 'Pluto': 0.013}

In [32]:
### fuctions

In [35]:
### Converts Kelvin to Celsius
def K_to_C(T_K):
    return T_K - 273.15

In [36]:
print(K_to_C(300))

26.850000000000023

In [37]:
### Converts Celsius to Kelvin
def C_to_K(T_C):
    return T_C + 273.15

In [38]:
print(C_to_K(10))

283.15

In [45]:
### Convert Farenheit to Celsius
def F_to_C_K(T_F, scale):
    temp = (T_F - 32) * 5/9
    if (scale == "K") | (scale == "Kelvin"):
        temp = C_to_K(temp)
    return temp

In [65]:
print(F_to_C_K(20, 'K'))

266.4833333333333

In [67]:
print(F_to_C_K(20, 'C'))

-6.666666666666667

In [48]:
### Takes feet and inches and returns meters
def height_to_m(feet, inches):
    inches_feet = feet * 12
    total_inches = inches_feet + inches
    height_m = total_inches / 39.37
    return height_m

In [49]:
print(height_to_m(5,7))

1.7018034036068073

In [56]:
### Takes height in meters and returns feet and inches
def height_to_imperial(meters):
    total_inches = meters * 39.3701
    feet = total_inches // 12
    inches = total_inches % 12
    return round(feet), round(inches)

In [57]:
print(height_to_imperial(1.7018034036068073))

(5, 7)

In [68]:
my_feet = 5
my_inches = 7

my_height_m = height_to_m(my_feet, my_inches)
my_feet_2, my_inches_2 = height_to_imperial(my_height_m)
my_height_m_2 = height_to_m(my_feet_2, my_inches_2)
my_height_imp_2 = height_to_imperial(my_height_m_2)
print(my_height_imp_2)

(5, 7)

In [69]:
my_feet = 6
my_inches = 3

my_height_m = height_to_m(my_feet, my_inches)
my_feet_2, my_inches_2 = height_to_imperial(my_height_m)
my_height_m_2 = height_to_m(my_feet_2, my_inches_2)
my_height_imp_2 = height_to_imperial(my_height_m_2)
print(my_height_imp_2)

(6, 3)

In [70]:
my_feet = 4
my_inches = 11

my_height_m = height_to_m(my_feet, my_inches)
my_feet_2, my_inches_2 = height_to_imperial(my_height_m)
my_height_m_2 = height_to_m(my_feet_2, my_inches_2)
my_height_imp_2 = height_to_imperial(my_height_m_2)
print(my_height_imp_2)

(4, 11)